body {
   background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/the-crown-jewels-blaise-alexandre-desgoffe.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   color:white
}
/* .bordered {
    width: 50px;
    height: 105px;
    padding: 10px;
    border: 1px solid yellow;
    border-radius:250px;
} */
.container{
    border: tan outset 10px;
    margin: auto;
    height: 70px;
    display: flex; 
    align-items: center;
    justify-content: center;
    color:red
}
/* .UghazadHide{
    display: none; */
/* } */
.Ughazad{
    display: block
    color:red;
}
.h1 {
    display: flex; 
    align-items: center;
    justify-content: center;
    color:red
    padding-top: 10px;
}
.EL {
    /* display:inline-flex
    vertical-align:top */
}
.testP{
    color: green
}
#too{
    color: yellow
}
.sideNav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top:20px;
    font-size: 25px;
    text-decoration-color: cornsilk;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.sideNav a:hover{
    color:blanchedalmond
}
.ck3{
    font-family:'Courier New', Courier, monospace
}

#img {
    border: 10px solid white;
  }

}
/* .background{
    width:200px;
    height: 200px;
} */
